<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agência Web - Compras</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
</head>

<body class="grid">

    <!-- Header -->
    <header class="grid grid-cols-2 border-b border-[#CCCCCC] max-w-screen bg-[#F6F6F6]">  
         
        <section class="grid grid-cols-2">
            <img class="self-center p-4 pl-7" src="img/aw.png" alt="">
            
        </section>

        <section class="grid grid-cols-2 justify-self-end p-2 pr-10 items-center gap-3">
            <img class="justify-self-end"src="img/logo.png" alt="">

            <div class="text-[13px] font-[Sora]">
                <p class="font-extrabold">John Doe</p>
                <p class="text-[#808080]">Agência Web</p>
            </div>
        </section>
             
    </header>
    
    
    <!-- Barra Lateral -->
    <section class="flex font-[Sora]">

        <section class="flex flex-col gap-5 border-r border-[#CCCCCC] h-311 w-85 z-10 ">

                <div class="text-center pt-8">
                    <strong class="text-[#4F4F4F] text-[25px]">Canal do Cliente</strong>
                </div>

                <div class="flex flex-col gap-3">

                    <div class="flex gap-2 pl-8">
                        <img src="img/market.png" alt="">
                        <p class="hover:text-[#104F98] hover:font-bold">Loja de projetos</p>
                    </div>

                    <div class="flex flex-col pl-15 gap-3">
                        <p class="hover:text-[#104F98] hover:font-bold">dashboard</p>
                        <p class="hover:text-[#104F98] hover:font-bold">Compra de créditos</p>
                        <p class="hover:text-[#104F98] hover:font-bold">Concluídos</p>
                    </div>
                </div>
            
            <div class="flex pl-7 gap-2">
                <img src="img/ciclo.png" alt="">
                <p class="hover:text-[#104F98] hover:font-bold">Gestão de projetos</p>
            </div>
            
            <div class="flex pl-8 gap-2">
                <img src="img/icon color.png" alt="">
                <p class="hover:text-[#104F98] hover:font-bold">Campanhas</p>
            </div>

        </section>

        <!-- Cabeçalho -->
        <main class="container max-w-6xl h-250 font-[Sora]">
            
            <section class="flex flex-col gap-5 mx-8 mt-10 border-b border-[#CCCCCC] pb-5 ">
                <div class="flex gap-2">
                    <p class="underline underline-offset-4 text-[#3D4551]">Loja de Projetos</p>
                    <img src="img/BE080-chevron right small 1px _ SYMBOLS, arrow, chevron.png" alt="">
                    <p class="underline underline-offset-4 text-[#3D4551]">Comprar Créditos</p>
                    <img src="img/BE080-chevron right small 1px _ SYMBOLS, arrow, chevron.png" alt="">
                    <p class="text-[#767676]">Compra de Créditos</p>
                </div>

                <strong class="text-[30px]">Compra de pontos base</strong>
            </section>


            <!-- Container 1 -->
            <section class="flex gap-5">

                <section class="bg-[#F6F6F6] rounded-[10px] max-w-130 mt-10 ml-8">

                    <section class="flex flex-col gap-3 p-8">

                        <div class="flex flex-col gap-3">
                            <strong>Limite mensal</strong>
                            <p class="text-[15px]">Confira a quantidade de pontos disponíveis para compra.</p>
                        </div>

                        <div class="flex flex-col gap-3">
                            <div>
                                <img src="img/Group 769468.png" alt="">
                            </div>
                            <div class="flex justify-between">
                                <div>
                                    <p class="text-[#8D9297]">Comprado nesse mês</p>
                                    <strong>100 créditos</strong>
                                </div>
                                <div>
                                    <p class="text-[#8D9297]">Seu limite mensal</p>
                                    <strong>2.000 créditos</strong>
                                </div>
                            </div>
                        </div>

                    </section>

                </section>

            
                <!-- Container 2 -->
                <section class="bg-[#F6F6F6] rounded-[10px] mt-10 p-8">
                    <section class="flex flex-col gap-3">

                        <div>
                            <strong>Informações</strong>
                        </div>

                        <div class="flex flex-col gap-3">

                            <div class="flex gap-3">
                                <img src="img/card.png" alt="">
                                <p>Valor minimo de</p>
                                <strong>100 créditos</strong>
                            </div>

                            <div class="flex gap-3">
                                <img src="img/calendar.png" alt="">
                                <p>Validade</p>
                                <strong>24 meses</strong>
                            </div>

                            <div class="flex gap-2">
                                <img src="img/money.png" alt="">
                                <p>Limite de compra mensal</p>
                                <strong>2.000 créditos</strong>
                            </div>

                        </div>

                    </section>
                
                </section>

            </section>

        <!-- Container 3 -->
            <section class="flex m-8 mr-10 gap-35 p-8 bg-[#f6f6f6] rounded-[10px]">

                <section class="flex flex-col gap-5">

                    <div>
                        <strong class="text-[20px]">Quantidade de créditos para compra </strong>
                    </div>

                    <div class="flex flex-col">

                        <div class="flex gap-20 justify-center items-center">

                            <img class="" src="img/BD140-minus in a circle _ SYMBOLS, minus, reduce, less, quitar, reducir, menos.png" alt="">

                            <strong class="text-[40px]">100</strong>

                            <img src="img/BD130-add in a circle _ SYMBOLS, add, añadir, attach, adjuntar, include, incluir, plus, más, aumentar, increment, incrementar, more.png" alt="">

                        </div>

                        <div>
                            <img class="flex justify-self-center" src="img/Divider.png" alt="">
                        </div>

                        <div>
                            <p class="flex justify-self-center mt-3 text-[14px] text-[#565C65]">Digite o valor aproximado</p>
                        </div>

                    </div>

                </section>
                
                <section class="flex flex-col gap-5">

                    <div>
                        <strong class="text-[20px]">Total em reais</strong>
                    </div>
                    <div>
                        <strong class="text-[35px]">R$20.000,00</strong>
                    </div>
                </section>

            </section>

            <!-- Cabeçalho 2 -->
            <section class="flex flex-col gap-5 ml-8">

                <div class="flex">
                    <strong class="text-[18px]">Mais informações sobre o produto</strong>
                    <img src="img/BE110-chevron down small _ SYMBOLS, arrow, chevron.png" alt="">
                </div>

                <div>
                    <hr class="mr-8 text-[#CCCCCC]">
                </div>

                <div class="max-w-200 h-100">
                    <p class="text-[#8D9297]"><strong class="text-[#4D4D4D]">ATENÇÃO:</strong> A transferência dos pontos comprados para programas parceiros (Milhas) depende da elegibilidade do seu cartão de crédito. Consulte os cartões elegíveis na página do produto a partir do menu Viagens - Programas Parceiros.</p>
                </div>
            </section>

        <footer class="border-t border-[#CCCCCC] mb-8">
                <section class="flex justify-between pt-5 pr-10">

                    <div>
                        <button class=" px-15 py-4 text-[#104F98] font-bold">Voltar</button>
                    </div>

                    <div class="flex flex-row gap-10">

                        <div>
                            <button class="border rounded-[5px] px-15 py-4 font-extrabold text-[#104F98]">Adicionar ao carrinho</button>
                        </div>

                        <div class="flex">
                            <button class="flex border rounded-[5px] text-white bg-[#104F98] items-center px-15 font-extrabold gap-3">
                                <p>Continuar</p>
                                <img src="img/Right Icon.png" alt="">
                            </button>
                        </div>

                    </div>
                </section>
        </footer>
        </main>

    </section>


    
</body>
</html>